.banner {
  @include padding($large-y null);
  @include row;

  @include media($medium-screen-up) {
    padding-top: $large-y * 4;
    padding-bottom: $large-y * 4;
  }

  p {
    color: $light-font-color;
    font-size: em(14);
    line-height: 1.8;

    @include media($medium-screen-up) {
      font-size: em(24);
      line-height: 1.6;
      text-align: center;
    }

    @include media($large-screen-up) {
      margin-bottom: 0;
    }
  }
}
