.event {
  background: $lighter-gray;
  margin-bottom: 0;
  display: none;
}

.event-box {
  @extend %narrow-container;
  background: white;
  padding: $base-y 0 0;

  @include media($medium-screen-up) {
    @include position(relative, -($base-y *4) 0 0 0);
    border: $base-border;
    padding-top: 0;
  }
}

.event-information {
  padding: $base-y $small-x;

  @include media($medium-screen-up) {
    padding: $large-y $large-x;
  }

  h4 {
    margin-bottom: 0;

    @include media($medium-screen-up) {
      margin-bottom: $base-y;
    }
  }
}

.event-date {
  font-size: 2.25em;
  font-weight: 800;
  margin-bottom: 0;
}

.event-location {
  display: inline-block;
  margin-bottom: $base-y;
}

.event-title {
  font-family: $serif;
  margin-bottom: $small-y;
}

.event-description {
  color: $light-font-color;
  font-family: $serif;
  font-size: em(17);
  line-height: 1.8;
  margin-bottom: $base-y;
}

.event-button {
  background: $base-link-color;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-weight: 600;
  line-height: normal;
  margin-bottom: $base-y;
  padding: 1em 3em;
  text-align: center;
  width: 100%;

  @include media($medium-screen-up) {
    margin-bottom: 0;
    width: auto;
  }

  &:hover, &:focus {
    color: white;
    background-color: lighten($base-link-color, 3%);
  }

  &:active {
    color: white;
    background-color: darken($base-link-color, 3%);
  }
}
