footer {
  @include padding($large-y null);

  p {
    color: $light-font-color;

    @include media($medium-screen-up) {
      text-align: center;
    }
  }

  a {
    color: $light-font-color;
    font-weight: 800;
  }
}
