header {
  @extend %outer-container;
  padding-top: $small-y;

  @media screen and (min-width: 565px) {
    padding-bottom: $small-y;
  }
}

.logo {
  display: inline-block;
  float: left;

  &:hover,
  &:focus {
    h1 {
      color: $triangle-red;

      &:after {
        @include transform(translateY(0px));
        opacity: 1;
      }
    }
  }

  img {
    @include transition;
    float: left;
    margin-right: $base-x;
    width: em(64);
  }

  h1 {
    color: #f23047;
    display: inline-block;
    font-family: $base-font-family;
    font-size: em(24);
    letter-spacing: 4px;
    line-height: em(64, 24);
    position: relative;
    text-transform: uppercase;

    @include media($medium-screen-up) {
      font-size: em(32);
      line-height: em(64, 32);
    }

    &:after {
      @include position(absolute, 100% null null 0px);
      @include size(100% 2px);
      @include transform(translateY(10px));
      @include transition;
      background-color: $triangle-red;
      content: "";
      opacity: 0;
    }
  }

  .extension {
    color: #99271a;
  }
}

.header-links {
  @include clearfix;
  clear: left;

  @media screen and (min-width: 570px) {
    clear: none;
    float: right;
  }

  li {
    float: left;
    padding: 1.25em 0;
    margin-left: $base-x;

    &:first-child {
      margin-left: 0;
    }
  }

  @media only screen and (max-device-width : 667px) {
    li {
      float: none;
      text-align: center;
      padding: 0px;
      margin-left: 0;
    }
  }

  a {
    color: $light-font-color;
    font-size: $small-font-size;
    font-weight: 600;
    padding: 8px 0;
    position: relative;
    text-transform: uppercase;

    &:after {
      @include position(absolute, 100% null null 0px);
      @include size(100% 2px);
      @include transform(translateY(10px));
      @include transition;
      background: $triangle-red;
      content: '';
      opacity: 0;
    }

    &:hover,
    &:focus {
      color: $triangle-red;

      &:after {
        @include transform(translateY(0px));
        opacity: 1;
      }
    }
  }
}
