header {
  @extend %outer-container;
  padding-top: $small-y;

  @media screen and (min-width: 565px) {
    padding-bottom: $small-y;
  }
}

.logo {
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}

.logo img {
  float: left;
  margin-right: $base-x;
  width: em(64);
}

.logo-hgroup {
  float: left;

  h1 {
    color: $base-font-color;
    font-size: 2em;
  }

  h2 {
    color: $light-font-color;
    font-family: $serif;
    font-size: em(16);
    font-weight: 400;
  }
}

.header-links {
  clear: left;

  @media screen and (min-width: 565px) {
    clear: none;
    float: right;
  }

  li {
    float: left;
    padding: 1.25em 0;
    margin-left: $base-x;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    color: $light-font-color;
    font-size: $small-font-size;
    font-weight: 600;
    text-transform: uppercase;

    &:hover, &:active, &:focus {
      color: $hover-link-color;
    }
  }
}
