.next-meetup {
  display: none;
  position: relative;

  &:after {
    @include position(absolute, 0 0 0 0);
    content: "";
    background-size: cover;
    background: image-url('banner-bg.jpg') 50% 50% no-repeat;
    z-index: -1;

    @include media($medium-screen-up) {
      bottom: 18em;
    }
  }

  .section-title,
  .section-description {
    color: #fff;
  }
}

.event-box {
  @extend %narrow-container;
  @include clearfix;
  @include padding(null 0);
  background-color: white;
  border-top-left-radius: $base-border-radius;
  border-top-right-radius: $base-border-radius;

  @include media($medium-screen-up) {
    @include margin(null auto);
    box-shadow: 0 3px 16px rgba(#000, 0.15);
  }
}

.event-information {
  padding: $base-y $small-x;

  @include media($medium-screen-up) {
    padding: $large-y $large-x;
  }
}

.event-date {
  background: $green;
  border-radius: $base-border-radius;
  color: #fff;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: $base-y;
  padding: 0.5em 1em;
  text-transform: uppercase;

  @include media($medium-screen-up) {
    @include size(em(120));
    background: $green;
    border-radius: 50%;
    float: left;
    font-family: $header-font-family;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0;
    margin-right: $large-x;
    padding: $base-y $base-x;
    text-align: center;
  }
}

.event-month {
  @include media($medium-screen-up) {
    @include position(relative, -0.25em null null null);
    display: block;
    text-transform: uppercase;
  }
}

.event-day {
  line-height: 1;

  @include media($medium-screen-up) {
    @include position(relative, -0.075em null null null);
    color: #fff;
    display: block;
    font-size: em(48);
  }
}

.event-title {
  font-family: $header-font-family;
  font-size: em(32);
  font-weight: 100;
}

.event-location {
  color: $light-font-color;
}

.event-description {
  font-size: em(14);
  overflow: hidden;

  @include media($medium-screen-up) {
    font-size: 1em;
  }

  ul {
    @extend %default-ul;
  }

  ol {
    @extend %default-ol;
  }
}

.event-map {
  border: $base-border;
}
