.past-meetups {
  @include media($medium-screen-up) {
    padding-top: 0;
  }
}

.past-meetup {
  @include margin(null auto);
  @include padding($small-y null);
  border-bottom: $light-border;
  max-width: em(420);
  position: relative;
}

.past-meetup-name {
  color: $base-font-color;

  @include media($medium-screen-up) {
    font-size: em(22);
  }
}

.past-meetup-date {
  color: $light-font-color;
  font-size: em(14);
  margin-bottom: 0;

  @include media($medium-screen-up) {
    font-size: em(16);
  }
}
