.quote {
  @include position(absolute, em(-136) em(-224) 0 0);
  background: $green;
  box-shadow: 0 1px 3px rgba(black, .1);
  color: white;
  font-weight: 600;
  padding: ($large-y * 1.5) ($base-x * 1.5);
  width: em(256);

  p {
    font-family: $serif;
    font-size: em(18);
  }

  .quote-author {
    font-size: em(12);
  }
}
