.slides {
  background: white;
  position: relative;
  padding-top: $large-y;
  padding-bottom: $large-y;
}

.slide {
  border-bottom: $light-border;
  font-family: $serif;
  padding: $small-y $small-x;
  position: relative;

  &:last-child {
    border-bottom: none;
  }

  h5 {
    font-family: $serif;
    font-size: em(18);
    margin-bottom: .25em;

    a {
      color: $base-font-color;

      &:hover, &:active, &:focus {
        color: $hover-link-color;
      }
    }

    @include media($medium-screen-up) {
      padding-left: $slides-date-column-width;
    }
  }
}

.slide-date {
  color: $red;
  font-size: $small-font-size;
  margin-bottom: $small-y;
  width: $slides-date-column-width;

  @include media($medium-screen-up) {
    @include position(absolute, 1em 0 0 $small-x);
  }
}

.slide-author {
  color: $light-font-color;
  font-size: $small-font-size;
  font-style: italic;
  margin-bottom: 0;

  @include media($medium-screen-up) {
    padding-left: $slides-date-column-width;
  }
}
