.sponsors {
  background: $slate;

  .section-title,
  .section-description {
    color: white;
  }

  ul {
    @extend %outer-container;
  }
}

.sponsor {
  background: white;
  border: 1px solid black;
  margin-bottom: $base-y;
  padding: $base-y $base-x;

  @include media($medium-screen-down) {
    @include omega(2n);
    @include span-columns(6 of 12);
  }

  @include media($medium-screen-up) {
    @include omega(4n);
    @include span-columns(3 of 12);
  }

  a {
    @include transition(opacity .1s linear);
    display: block;
    position: relative;

    @include media($medium-screen-up) {
      opacity: 0.8;
    }

    &:hover {
      opacity: 1;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}
