.submit-a-talk, .thank-you {
  background: white;
  padding: $large-y 0;

  @include media($medium-screen-up) {
    padding: ($large-y * 3) 0;
  }

  textarea {
    height: $large-y * 6;
  }
}

.thank-you {
  text-align: center;
}
