body {
  background: #fff;
}

.narrow-container {
  @extend %narrow-container;
}

.container {
  @extend %outer-container;
}

.embed-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe, object, embed {
    @include size(100%);
    @include position(absolute, 0 0 0 0);
  }
}

.content-section {
  @include padding($large-y null);

  @include media($medium-screen-up) {
    @include padding(($large-y * 2) null);
  }
}
