<section class="banner">
  <div class="container">
    <h3 class="section-title">A place for sharing ideas</h3>
    <p>
      Triangle.rb is <i>the</i> Ruby user group of Raleigh, Durham, and Chapel
      Hill.
    </p>
    <p>
      Come make friends and drink beer. Join us in our pursuit of humane
      programming.
    </p>
  </div>
</section>
