<footer>
  <div class="container">
    <p>Triangle.rb is organized by
    <a href="http://brandonmathis.me">Brandon Mathis</a>,
    <a href='https://twitter.com/tjstankus'> TJ Stankus</a>, and
      <a href="https://twitter.com/base10">Nathan Walls</a>.</p>
    <p>Site design by <a href="http://www.thoughtbot.com">thoughtbot</a>.</p>
  </div>
</footer>
