<header>
  <% link_to "/", class: "logo" do %>
    <%= image_tag 'logo.png' %>
    <h1>Triangle<span class="extension">RB</span></h1>
  <% end %>

  <ul class="header-links">
    <li>
      <%= link_to 'Meetup', 'http://www.meetup.com/raleighrb/' %>
    </li>
    <li>
      <%= link_to 'Slack', 'https://triangle-devs-slack-inviter.herokuapp.com/' %>
    </li>
    <li>
      <%= link_to 'Code of Conduct', 'https://github.com/Trianglerb/policies/blob/master/code-of-conduct.md' %>
    </li>
  </ul>
</header>
