<section class="content-section next-meetup" >
  <div class="container">
    <h3 class="section-title">Join us at our next meetup</h3>
    <p class="section-description">
      We have monthly talks, occasional drinkups, and are active in community
      events, like Rails Girls and RailsBridge Triangle.
    </p>

    <div class="event-box" data-role="event">
      <div class="event-information">
        <div class="event-date">
          <span class="event-month" data-role="month">event month</span>
          <span class="event-day" data-role="day">event day</span>
        </div>

        <div class="event-description">
          <h5 class="event-title" data-role="name">Meetup Name</h5>
          <p class="event-location">
            <span data-role="time">event time</span> at
            <span data-role="venue-name">Venue name</span>
          </p>
          <div data-role="description">
            <p>Event Description</p>
          </div>
          <a href="#" data-role="rsvp-link">RSVP on Meetup</a>
        </div>
      </div>


      <div class="event-map">
        <div class="embed-container">
          <iframe
            data-role="map"
            src=""
            width="600"
            height="450"
            frameborder="0"
            style="border:0"></iframe>
        </div>
      </div>
    </div>

    <div class="event-box is-unscheduled" data-role="no-event">
      <%= image_tag "ruby.gif", alt: "It's a ruby" %>
      <h3 class="unscheduled-title">We're still planning the next event</h3>
      <p class="unscheduled-description">
        Join the <a href="http://www.meetup.com/raleighrb/">Meetup group</a> to get notified.
      </p>
    </div>
  </div>
</section>
