<section class="event" data-role="event">
  <div class="event-box">
    <div class="event-information">
      <h4>Join us at our next meetup</h4>
      <p class="event-date" data-role="date">event date</p>
      <span class="event-location">
        <span data-role="time">event time</span> at <span data-role="venue-name">Venue name</span>
      </span>
      <h5 class="event-title" data-role="name">Meetup Name</h5>
      <p class="event-description" data-role="description">Event Description</p>
      <a href="#" class="event-button" data-role="rsvp-link">RSVP on Meetup</a>
    </div>

    <div class="event-map">
      <div class="embed-container">
        <iframe
          data-role="map"
          src=""
          width="600"
          height="450"
          frameborder="0"
          style="border:0"></iframe>
      </div>
    </div>
  </div>
</section>
