<section class="content-section past-meetups">
  <div class="narrow-container">
    <h3 class="section-title">Past Meetups</h3>

    <ol data-role="past-meetups">
      <li class="past-meetup" data-role="past-meetup" style="display:none">
        <a class="past-meetup-name" href="#" data-role="name">Meetup name</a>
        <p class="past-meetup-date" data-role="date">January 2055</p>
      </li>
    </ol>
  </div>
</section>
