<section class="slides">
  <div class="narrow-container">
    <h4>Past Meetups</h4>

    <ol class="meetups">
      <li class="slide" style="display:none">
        <span class="slide-date" data-role="date">January 2055</span>
        <h5>
          <a href="#" data-role="name">Meetup name</a>
        </h5>
        <p class="slide-author" data-role="speaker-name">Speaker Name</p>
      </li>
    </ol>
  </div>
</section>
