<section class="sponsors">
  <div class="narrow-container">
    <h4>You're in Good Company</h4>
    <p>These kind folks buy us pizza and beer. You should say hi.</p>
  </div>
  <ul>
    <li class="sponsor">
      <a href="#"><img src='/assets/images/ai.jpg'/></a>
    </li>
    <li class="sponsor">
      <a href="#"><img src='/assets/images/thoughtbot.png'/></a>
    </li>
    <li class="sponsor">
      <a href="#"><img src='/assets/images/webassign.jpg'/></a>
    </li>
    <li class="sponsor">
      <a href="#"><img src='/assets/images/sb.png'/></a>
    </li>
  </ul>
  <ul>
    <li class="sponsor">
      <a href="#"><img src='/assets/images/mckesson.png'/></a>
    </li>
    <li class="sponsor">
      <a href="#"><img src='/assets/images/spreedly.jpg'/></a>
    </li>
    <li class="sponsor">
      <a href="#"><img src='/assets/images/cognitect.png'/></a>
    </li>
    <li class="sponsor">
      <a href="#"><img src='/assets/images/pragmatic.png'/></a>
    </li>
  </ul>
</section>
