%outer-container {
  @include outer-container;
  padding: 0 $small-x;
}

%narrow-container {
  @extend %outer-container;
  margin: 0 auto;
  max-width: $medium-screen;
}

%wide-container {
  @include outer-container;
  max-width: em(1280);
}
