<footer>
  <div class="container">
    <p>Triangle.rb is organized by <a
      href="https://twitter.com/BrandonMathis">Brandon Mathis</a> and <a
      href="https://twitter.com/base10">Nathan Walls</a>.</p>
    <p>Site design by <a href="http://wwww.thoughtbot.com">thoughtbot</a>.</p>
  </div>
</footer>
