---
title: 'Triangle.rb'
---

<header>
  <ul class="header-links">
    <li>
      <a href="http://www.meetup.com/raleighrb/">Meetup</a>
    </li>
    <li>
      <a href="http://discourse.triangleruby.com/">Discourse</a>
    </li>
  </ul>

  <div class="logo">
    <%= image_tag 'logo.png' %>
  </div>
  <div class="logo-hgroup">
    <h1>Triangle.rb</h1>
    <h2>The triangle's ruby meetup</h2>
  </div>
</header>

<section class="banner">
  <div class="narrow-container">
    <h3>A place for sharing ideas.</h3>
    <p>Triangle.rb is the one and only user group in Raleigh dedicated to
    helping Ruby enthusiasts learn, network, and socialize.</p>

    <p>Our goal is simple: bring together all the ruby enthusiasts in the
    triangle, from beginners to experts, so that we may learn from one another.
    Our industry is too rich for any one person to "know it all." That's where
    we come in.</p>

    <p>Make friends, drink beer. Join us in our pursuit of humane
    programming.</p>
  </div>
</section>

<section class="event">
  <div class="event-information">
    <div class="event-information-wrapper">
      <h4>Join us at our next meetup</h4>
      <p class="event-date">Feb 28, 2014</p>
      <span class="event-location">6:30pm at <a href=#">Jumpstart Labs</a></span>
      <h5 class="event-title">Ember.js</h5>
      <p class="event-description">Speaker: Jason Draper Bio: Jason is a
      developer with thoughtbot in the Raleigh office. He has worked with Ruby
      on Rails for 8 years and done everything in his power to fight
      JavaScript. Come listen to Jason talk about the fundamentals of EmberJS
      and how it has changed his ideas on JavaScript and how to build rich web
      applications.</p>
      <a href="#" class="event-button">RSVP on Meetup</a>
    </div>
  </div>

  <div class="event-map">
    <div class='embed-container'>
      <iframe
        src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387144.0075834208!2d-73.97800349999999!3d40.7056308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2sus!4v1394298866288'
        width='600' height='450' frameborder='0' style='border:0'></iframe>
    </div>
  </div>
</section>


<section class="slides">
  <section class="quote">
    <p>The mind is not a vessel to be filled, but a fire to be kindled.</p>
    <span class="quote-author">&mdash; Plutarch</p>
  </section>
  <h4>Slides from past presentations</h4>

  <ol>
    <li class="slide">
      <span class="slide-date">January 2014</span>
      <h5>So You Want To Be a Programmer</h5>
      <p class="slide-author">Brandon Mathis</p>
    </li>
    <li class="slide">
      <span class="slide-date">January 2014</span>
      <h5>Story-Drivern Development with Cucumber</h5>
      <p class="slide-author">Brandon Mathis</p>
    </li>
    <li class="slide">
      <span class="slide-date">January 2014</span>
      <h5>Software Craftsmanship</h5>
      <p class="slide-author">Brandon Mathis</p>
    </li>
    <li class="slide">
      <span class="slide-date">January 2014</span>
      <h5>So You Want To Be a Programmer</h5>
      <p class="slide-author">Brandon Mathis</p>
    </li>
    <li class="slide">
      <span class="slide-date">January 2014</span>
      <h5>Story-Driven Development with Cucumber</h5>
      <p class="slide-author">Brandon Mathis</p>
    </li>
    <li class="slide">
      <span class="slide-date">January 2014</span>
      <h5>Software Craftsmanship</h5>
      <p class="slide-author">Brandon Mathis</p>
    </li>
  </ol>
</section>

<section class="sponsors">
  <h4>You're in Good Company</h4>
  <ul>
    <li class="sponsor">
      <a href="#">thoughtbot</a>
    </li>
    <li class="sponsor">
      <a href="#">thoughtbot</a>
    </li>
    <li class="sponsor">
      <a href="#">thoughtbot</a>
    </li>
    <li class="sponsor">
      <a href="#">thoughtbot</a>
    </li>
  </ul>
  <p>These kind folks buy us pizza and beer. You should say hi.</p>
</section>

<footer>
  <div class="container">
    <p>Triangle.rb is organized by <a
      href="https://twitter.com/BrandonMathis">Brandon Mathis</a> and <a
    href="https://twitter.com/base10">Nathan Walls</a>.</p>
    <p>Site design by <a href="http://wwww.thoughtbot.com">thoughtbot</a>.</p>
  </div>
</footer>

<% page_articles.each do |article| %>
<% end %>
