---
title: 'Triangle.rb'
---
<section class="banner">
  <div class="container">
    <h3>A place for sharing ideas.</h3>
    <p>Triangle.rb is <i>the</i> Ruby user group of Raleigh, Durham, and Chapel Hill.</p>
    <p>Come make friends and drink beer. Join us in our pursuit of humane
    programming.</p>
  </div>
</section>

<section class="event">
  <div class="event-box">
    <div class="event-information">
      <h4>Join us at our next meetup</h4>
      <p class="event-date">Feb 28, 2014</p>
      <span class="event-location">6:30pm at <a href=#">Jumpstart Labs</a></span>
      <h5 class="event-title">Ember.js</h5>
      <p class="event-description">Speaker: Jason Draper Bio: Jason is a
      developer with thoughtbot in the Raleigh office. He has worked with Ruby
      on Rails for 8 years and done everything in his power to fight
      JavaScript. Come listen to Jason talk about the fundamentals of EmberJS
      and how it has changed his ideas on JavaScript and how to build rich web
      applications.</p>
      <a href="#" class="event-button">RSVP on Meetup</a>
    </div>

    <div class="event-map">
      <div class='embed-container'>
        <iframe
          src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387144.0075834208!2d-73.97800349999999!3d40.7056308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2sus!4v1394298866288'
          width='600' height='450' frameborder='0' style='border:0'></iframe>
      </div>
    </div>
  </div>
</section>

<section class="slides">
  <div class="narrow-container">
    <h4>Slides from past presentations</h4>

    <ol>
      <li class="slide">
        <span class="slide-date">January 2014</span>
        <h5>
          <a href="#">So You Want To Be a Programmer</a>
        </h5>
        <p class="slide-author">Brandon Mathis</p>
      </li>
      <li class="slide">
        <span class="slide-date">January 2014</span>
          <h5>
            <a href="#">Story-Driven Development with Cucumber</a>
          </h5>
        <p class="slide-author">Brandon Mathis</p>
      </li>
      <li class="slide">
        <span class="slide-date">January 2014</span>
        <h5>
          <a href="#">Software Craftsmanship</a>
        </h5>
        <p class="slide-author">Brandon Mathis</p>
      </li>
      <li class="slide">
        <span class="slide-date">January 2014</span>
        <h5>
          <a href="#">So You Want To Be a Programmer</a>
        </h5>
        <p class="slide-author">Brandon Mathis</p>
      </li>
      <li class="slide">
        <span class="slide-date">January 2014</span>
        <h5>
          <a href="#">Story-Driven Development with Cucumber</a>
        </h5>
        <p class="slide-author">Brandon Mathis</p>
      </li>
      <li class="slide">
        <span class="slide-date">January 2014</span>
        <h5>
          <a href="#">Software Craftsmanship</a>
        </h5>
        <p class="slide-author">Brandon Mathis</p>
      </li>
    </ol>
  </div>
</section>

<section class="sponsors">
  <div class="narrow-container">
    <h4>You're in Good Company</h4>
    <p>These kind folks buy us pizza and beer. You should say hi.</p>
  </div>
  <ul>
    <li class="sponsor">
      <a href="#">thoughtbot</a>
    </li>
    <li class="sponsor">
      <a href="#">thoughtbot</a>
    </li>
    <li class="sponsor">
      <a href="#">thoughtbot</a>
    </li>
    <li class="sponsor">
      <a href="#">thoughtbot</a>
    </li>
  </ul>
</section>

<% page_articles.each do |article| %>
<% end %>
