---
title: 'Triangle.rb | Submit a Talk'
---

<section class="content-section submit-a-talk">
  <a class="back-link" href="/">Back to home &rarr;</a>

  <div class="narrow-container">
    <h3 class="section-title">Submit a Talk Proposal</h3>
    <form action="https://formforge.io/f/845c5137b216" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" id="name">

      <label for="email">Email address</label>
      <input type="email" name="email" id="email">

      <label for="topic">Topic of Discussion</label>
      <textarea name="topic" id="topic"></textarea>

      <input type="submit" value="Submit Talk">
    </form>
  </div>
</div>
