---
title: 'Triangle.rb | Thank you!'
---

<section class="content-section thank-you">
  <h3 class="section-title">Thanks! We'll get back to you soon.</h3>
  <%= link_to '&larr;  Back to triangle.rb', '/submit.html', class: "back-link" %>
</section>
